.side-bar
  .side-bar__side-header
    .side-bar__side-header__side-box
      %p masa
      = link_to "#", class: ".side-bar__side-header__side-box" do
        = icon('far', 'edit')
        = icon('fas', 'cog') 
  .side-bar__groups
    .side-bar__groups__groups-list
      %p tech camp
    .side-bar__groups__groups-comment
      %p おはよう！
